@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    height: 100%;
    min-height: 100vh;
    /* background-color: rgba(94, 59, 113, 0.2); */

    z-index: -2;
}

@media screen and (max-width: 576px) {
    .opacity {
        min-height: 175vh;
    }
}


.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    min-height: 100vh;

    /* background-image: url("../assets/intj-aeron.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: -3;
}

.content {
    padding: 3rem;
    z-index: 1;
}

@media screen and (max-width: 576px) {
    #save-button-s {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .content {
        padding: 0rem;
    }
}

@media screen and (max-width: 576px) {
    .mobile-col {
        flex-direction: column;
    }
}

.card {
    padding: 1.5rem;
    background-color: white;
    border-radius: 1.5rem;
}

@media screen and (max-width: 576px) {
    .card {
        padding: 1rem;
        border-radius: 1rem;
    }
}


/* Card 1 | What type of chair you are */
.chair-type {
    justify-content: space-between;
}

.result-title {
    font-family:"Playfair Display", 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 700;
}

.result-subtitle {
    font-size: 1.5rem;
    font-weight: 700;
}

.result-subtitle-center {
    text-align: center;
}



/* Card 2 & 3 | Ideal Match and Not-so-Ideal Match */
.gap-1 {
    gap: 1rem;
}

.gap-05 {
    gap: 0.5rem;
}

.matches {
    text-align: center;
}

@media screen and (max-width: 576px) {
    .mobile-ideal {
        width: auto;
    }
}



/* Cards 4 & 5 | Strengths and Weaknesses */
.container-alignment {
    display: flex;
    flex-direction: column;
}

.container-bottom {
    align-self: flex-end;
}

li {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

li::before {
    color: black;
    font-size: 1rem;
    margin-right: 0.5rem;
}

.strength-li::before {
    content: "✦";
}

.weakness-li::before {
    content: "✧";
}

@media screen and (max-width: 576px) {
    .col-r-40 {
        width: auto;
        padding-left: 0;
    }
}



/* Button Styles */
.btn-link {
    text-decoration: none;
}

.btn-restart {
    padding: 1.5rem 2rem; /* top button then left right */
    
    font-size: 1rem;
    font-weight: 500;

    text-align: center;

    cursor: pointer;
}

.btn-shadow-width {
    width: auto;
}