@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    /* border: solid 1px red; */
}

body {
    box-sizing: border-box;
    font-family: -apple-system, "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* Imagery */
.img-full {
    width: 100%;
}

.img-rounded {
    border-radius: 1rem;
}

.quiz-page #result {
    display: none;
}

/* Color */
.accent-purple {
    color: #5E3B71;
}

.accent-green {
    color: #34A475;
}

.accent-blue {
    color: #4298B4;
}

.accent-yellow {
    color: #E4AE3A;
}

.opacity-purple {
    color: rgba(94, 59, 113, 0.2);
}

.opacity-green {
    color: rgba(52, 164, 117, 0.2);
}

.opacity-blue {
    color: rgba(66, 152, 180, 0.2);
}

.opacity-yellow {
    color: rgba(228, 174, 58, 0.2);
}


/* Spacing */
.mb-16 {
    margin-bottom: 1rem;
}

.mb-24 {
    margin-bottom: 1.5rem;
}

.mb-48 {
    margin-bottom: 3rem;
}

.mb-64 {
    margin-bottom: 4rem;
}

.mb-96 {
    margin-bottom: 6rem;
}

.mb-128 {
    margin-bottom: 8rem;
}

.mb-256 {
    margin-bottom: 16rem;
}



/* Columns */
/* 2 columns, 60 40 split */
.col-2 {
    display: flex;
    flex-direction: row;
}

.col-2-50 {
    width: 50%;
}

.col-l-60 {
    width: 60%;
    padding-right: 1.5rem;
}

.col-r-40 {
    width: 40%;
    padding-left: 1.5rem;
}

.col-l-70 {
    width: 70%;
    padding-right: 1rem;
}

.col-r-30 {
    width: 30%;
    padding-left: 1rem;
}

.col-l-90 {
    width: 90%;
    padding-right: 0.25rem;
}

.col-r-10 {
    width: 10%;
    padding-left: 0.25rem;
}


/* Button Styles */
.btn-foreground {
    display: block;
    padding: 1.5rem 2rem; /* top button then left right */
    
    font-family: -apple-system, "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;

    color: black;
    text-align: left;

    border: solid black 2px;
    background: white;
    
    transform: translate(0.5rem, -0.5rem);

    cursor: pointer;
}

.btn-shadow {
    background: black;
    border: none;
    padding: 0;
    outline-offset: 4px;
}

.btn-shadow:active .btn-foreground {
    transform: translate(0);
}